.advices-container-li {
  width: 270px;
  height: 248px;
  padding-left: 30px;
}
.advices-container-li-fir {
  width: 270px;
  height: 120px;
  background-color: #d9d9d9;
}
.advices-container-li-sec-item {
  color: #757575;
}
.advices-container-li-sec-item-a {
  margin-top: 20px;
}
.advices-container-li-fir-svg {
  width: 70px;
  height: 70px;
  margin-left: 100px;
  margin-top: 25px;
}

.advices-container-li-a {
  margin-left: 30px;
}
.advices-container-li-d {
  margin-left: 30px;
}
.advices-container-li-c {
  margin-left: 30px;
}
.advices-container-li-b {
  margin-left: 30px;
}
