.start-text {
  color: white;
  text-align: center;
  font-size: 44px;
  font-family: Roboto;
  letter-spacing: 6%;
  font-weight: bolder;
}
.start-h {
  position: absolute;
  bottom: 350px;
  left: 500px;
}
