// .header-contact-ul-a {
//   display: flex;
//   justify-content: space-between;
// }
// .header-contact-ul-b {
//   display: flex;
// }

// .header-contact-li-b:hover {
//   color: #2196f3;
// }
// .pablo:hover {
//   color: #2196f3;
// }
// .pablo {
//   margin-right: 500px;
//   margin-bottom: 250px;
// }
// .div-header {
//   left: 950px;

//   position: absolute;
// }
// .header-nav-li-d {
//   margin-left: 100px;
// }
// .header-nav-li-e {
//   margin-left: 56px;
// }
.pablo {
  display: flex;
  position: absolute;
  top: 35px;
  left: 950px;
  font-size: 14px;
  font-family: Roboto;
  color: #757575;
}
.pablo-a:hover {
  color: #2196f3;
}
.pablo-b:hover {
  height: 20px;
  color: #2196f3;
}
.pablo-c {
  width: 16px;
  height: 12px;
  margin-top: 3px;
  margin-right: 5px;
}
.pablo-c:hover {
  color: #2196f3;
}
.pablo-d {
  width: 10px;
  height: 16px;
  margin-right: 5px;
  margin-left: 20px;
}
// #icon-smartphone-1-1:hover {
//   fill: #2196f3;
// }
.header-svg-fir {
  width: 16px;
  height: 12px;
}
